extends layout 

block content
	article(
		class="pt-4 divide-y divide-brown md:h-auto h-full text-light font-alegsans font-normal items-start bg-dark flex flex-col space-y-2  border-b border-brown"
		)
		header(class='text-light font-aleg font-bold text-xl self-center') Admin Dashboard
		section#dashboardNavigation(class="self-center flex justify-between text-sm space-x-3 p-2")
			span Navigation:
			a(href="#users" class="hover:text-light text-brown") Users
			a(href="#posts" class="hover:text-light text-brown") Posts
			a(href="#comments" class="hover:text-light text-brown") Comments
		section.p-4.w-full
			header#users.font-aleg.font-bold.text-lg.mb-4 Users    
			if users
				for u in users 
					article(
						class="flex flex-wrap items-center space-x-2 mb-2 md:grid md:grid-cols-5 md:gap-2 md:justify-items-start font-alegsans font-normal text-sm"
						)
							span= u.username
							form(action="/user/admin/ban?user=" + u.id method="post" class="") 
								input(type="hidden" name="_csrf" value=csrfToken)
								button(
									type="submit" 
									class="p-1 bg-gray text-sm text-dark rounded hover:bg-light hover:text-gray ")= u.is_permabanned ? "UnPermaBan" : "PermaBan"
							form(
								action="/user/admin/tempBan?user=" + u.id 
								method="post" 
								class="p-1")
								input(type="hidden" name="_csrf" value=csrfToken)
								input(
									type="date"
									name="date"
									value=u.is_banned_until ? u.is_banned_until : "" 
									class='mr-2 focus:outline-none focus:ring focus:ring-brown bg-light text-dark'
									)  
								button(
									type="submit" 
									class="bg-gray text-sm text-dark m-1 px-2 rounded hover:bg-light hover:text-gray"
									) Set TempBan
							-let dateConfig = {dateStyle:"short", timeStyle:"short" }
							time#latest-visit(class="text-sm")= u.latest_visit ? "Visited " + u.latest_visit.toLocaleString("en-US", dateConfig) : "Never visited"
							time#created(class="text-sm justify-self-end")= u.created_at ? "Created " + u.created_at.toLocaleString("en-US", dateConfig) : "No creation date"
			a(href="#dashboardNavigation" class="hover:text-light text-brown text-sm") Back to the top	
		section.p-4.w-full
			header#posts.font-aleg.font-bold.text-lg.mb-4 Posts
			if posts
				for post in posts 
					article.flex.font-alegsans.font-normal.text-sm.space-x-1.mb-1
						a.mr-auto(href="/board/post/" + post.id )= post.title				
						a.text-sm(href=post.image_url)
						span.text-sm=post.username 
						-let dateConfig = {dateStyle:"short", timeStyle:"short" }
						time(class="flex-none text-sm")= post.last_changed_at ? "edited " + post.last_changed_at.toLocaleString("en-US", dateConfig) : "created " + post.created_at.toLocaleString("en-US", dateConfig)
			a(href="#dashboardNavigation" class="hover:text-light text-brown text-sm") Back to the top
		section.p-4.w-full
			header#comments.font-aleg.font-bold.text-lg.mb-4 Comments    
			if comments
				for comment in comments 
					article.flex.font-alegsans.font-normal.text-sm.space-x-1.mb-1
							a.mr-auto(href="/board/post/" + comment.post_id + "/#comment" + comment.id class="")= comment.text 
							span.text-sm=comment.username
							-let dateConfig = {dateStyle:"short", timeStyle:"short" }
							time(class="flex-none text-sm")= comment.last_changed_at ? "edited " + comment.last_changed_at.toLocaleString("en-US", dateConfig) : "created " + comment.created_at.toLocaleString("en-US", dateConfig)
			a(href="#dashboardNavigation" class="hover:text-light text-brown text-sm") Back to the top