extends layout 

block content 
	article.bg-dark.text-light.p-4.flex.flex-col.items-center.space-y-2.border-b.border-brown 
		header.text-xl.font-fraktur Forgot your password? 
		span.text-serif Enter your email below. We will send you a password reset link with instructions to that address. 
		form(
		action="/user/password/forgot" 
		method="POST" 
		class="flex flex-col w-full space-y-2 mt-2 font-serif text-sm")
			div 
				label(for="email" ) Email
				input(
					type="email" 
					id="email" 
					name="email" 
					required 
					class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark")
			+bigButton("submit", "Send a Link")