extends layout 

block content 
	+formCard 
		header.text-xl.font-aleg.font-bold Forgot your password? 
		span Enter your email below. We will send you a password reset link with instructions to that address. 
		form(
		action="/user/password/forgot" 
		method="POST" 
		class="flex flex-col w-full space-y-2 mt-2")
			div 
				label(for="email" class="font-aleg font-medium" ) Email
				input(
					type="email" 
					id="email" 
					name="email" 
					required 
					class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark")
			+bigButton("submit", "Send a Link")