extends layout 

block content 
	+formCard            
		header.flex.flex-col.items-center.font-aleg.font-bold.text-xl Log In
			if hasMessages
				each message in messages 
					article= message
		form(action="/user/login" method="POST" class='flex flex-col space-y-2 mt-2 w-full font-alegsans font-normal')
			.pt-2 
				label(for="email").font-aleg.font-medium Email
				input(
					type="email" 
					name="email"
					autocomplete="email" 
					class='focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark' 
					required)
			div 
				label(for="password").font-aleg.font-medium Password
				input(
					type="password" 
					name="password"
					autocomplete="password"
					class='focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark' 
					required) 
			.flex.justify-between.pt-2     
				+hrefButton("register", "Register")
				+hrefButton("password/forgot", "Forgot Password")
				+button("submit", "Log In")