mixin centerContainer 
	div(
		class='flex flex-col items-center justify-center'
		)&attributes(attributes)
		block 

mixin cardContainer 
	div(
		class='flex flex-col items-center'
		)&attributes(attributes)
		block

mixin formCard 
	article(
		class="md:h-auto h-full bg-dark p-6 flex flex-col items-center space-y-2 border-b border-brown text-light font-alegsans font-normal"
		)&attributes(attributes)
		block 

mixin card 
	article(
		class="p-2 flex flex-col bg-dark text-light space-y-2 border-t border-brown"
		)&attributes(attributes)
		block

mixin bigButton(type, text)
	input(
		type=type 
		value=text
		class='self-end p-0.5 border-2 border-main border-opacity-70 font-aleg font-bold bg-light text-dark hover:bg-gray'
		)&attributes(attributes)
	
mixin hrefButton(href, text)
	a(
		href=href 
		class="hover:bg-gray p-0.5 border-2 border-main border-opacity-70 font-aleg font-bold bg-light text-dark"
		)&attributes(attributes)=text

mixin button(type, text)
	button(
		type=type 
		class="hover:bg-gray p-0.5 border-2 border-main border-opacity-70 font-aleg font-bold bg-light text-dark"
		)&attributes(attributes)=text