mixin centerContainer 
	div(
		class='flex flex-col items-center justify-center'
		)&attributes(attributes)
		block 

mixin cardContainer 
	div(
		class='flex flex-col items-center items-stretch'
		)&attributes(attributes)
		block

mixin formCard 
	article(
		class="md:h-auto h-full bg-dark p-6 flex flex-col items-center divide-y space-y-2 divide-brown border border-brown"
		)&attributes(attributes)
		block 

mixin card 
	article.scroll-mt-8.pt-10.p-2.flex.flex-col.bg-dark.text-light.space-y-2.border-b.border-brown&attributes(attributes)
		block

mixin bigButton(type, text)
	input(
		type=type 
		value=text
		class='self-end p-1 shadow border-2 border-main border-opacity-70 text-lg font-fraktur bg-light text-dark hover:bg-gray'
		)&attributes(attributes)
	