extends layout 

block pageScript
	script(defer src="/javascripts/readPost.js")
block content
	if errors
		+card(id="errorCard" class="scroll-mt-8")
			for field, key in errors
				header.self-center.text-lg.font-fraktur.p-2 Errors in form input
				span(class="self-center text-red-800 font-sans text-sm pb-4")=key + ": " + field.msg
	if post
		+card(
			id="post"
			class="scroll-mt-8"
			)
			header
				span#postTitle.px-2.font-sans= post.title
				span(class="bg-gray text-xs text-dark rounded hover:bg-light hover:text-gray")=post.is_locked ? "Locked" : ""
			section( 
				class="p-2"
				)
				a(href="/image/" + images[0].id class="float-left inline mr-2 mb-2 hover:outline hover:outline-brown")
					img(src=process.env.IMAGE_STORAGE_THUMBNAIL_URL + images[0].id + ".webp" class=" max-w-screen-sm" crossorigin)
				section#postText(class="font-serif text-sm whitespace-pre-line")= post.text 
			footer.px-2.py-1.flex.flex-row.font-sans.text-xs.justify-between.space-x-1
				div.flex.space-x-2
				div.flex.space-x-2
					if (user && user.role === "admin")
						form(action=post.id + "/lock" method="post")
							input(type="hidden" name="_csrf" value=csrfToken)
							button(type="submit" class="bg-gray text-xs text-dark px-2 rounded hover:bg-light hover:text-gray")=post.is_locked ? "Unlock" : "Lock"
						form(action=post.id + "/remove" method="post")
							input(type="hidden" name="_csrf" value=csrfToken)
							button(type="submit" class="bg-gray text-xs text-dark px-2 rounded hover:bg-light hover:text-gray") Delete
					if (user && (user.id === post.user_id || user.role === "admin") && (!user.permaBan || !user.tempBan || Date.now() > user.tempBan))
						a(
							href="#editPostForm"
							data-action-type="editPost" 
							data-post-id=post.id
							class="bg-gray text-xs text-dark px-2 rounded hover:bg-light hover:text-gray"
							) Edit 
					if (user && (!user.permaBan || !user.tempBan || Date.now() > user.tempBan))
						a(
							href="#commentForm"
							data-action-type="commentPost"
							data-post-id=post.id
							class="bg-gray text-xs text-dark px-2 rounded hover:bg-light hover:text-gray"
							) Comment	
					.space-x-1
						-let dateConfig = {dateStyle:"medium", timeStyle:"short" }
						span=post.username
						time=post.last_changed_at ? "edited on " + post.last_changed_at.toLocaleString("en-US", dateConfig) : "on " + post.created_at.toLocaleString("en-US", dateConfig)
		if comments
			for comment in comments 
				+card(
					id="comment" + comment.id
					class="scroll-mt-8"
					)
					section.text-sm.font-serif
						a(
							href=comment.reference_id ? "#comment" + comment.reference_id : "#post"
							class="text-main text-xs hover:text-red-800"
						)  
							i=comment.reference_id ? "@" + comment.reference_author : "@" + post.username
						section(
							id="commentText" + comment.id 
							class="inline px-2 font-serif text-sm"
							)= comment.text 
					footer.px-2.flex.flex-row.font-sans.text-xs.justify-between.space-x-1
						div.flex.space-x-2
						div.flex.space-x-2
							if (user && user.role === "admin")
								form(action=post.id + "/comment/" + comment.id +"/remove" method="post")
									input(type="hidden" name="_csrf" value=csrfToken)
									button(type="submit" class="bg-gray text-xs text-dark px-2 rounded hover:bg-light hover:text-gray") Delete
							if (user && (user.id === comment.user_id || user.role === "admin") && (!user.permaBan || !user.tempBan || Date.now() > user.tempBan))
								a(
									href="#editCommentForm"
									data-action-type="editComment" 
									data-post-id=post.id 
									data-comment-id=comment.id
									class="bg-gray text-xs text-dark px-2 rounded hover:bg-light hover:text-gray"
									) Edit
							if (user && (!user.permaBan || !user.tempBan || Date.now() > user.tempBan))
								a(
									href="#commentForm"
									data-action-type="commentComment" 
									data-post-id=post.id 
									data-comment-id=comment.id
									class="bg-gray text-xs text-dark px-2 rounded hover:bg-light hover:text-gray"
									) Comment
						.space-x-1
							-let dateConfig = {dateStyle:"medium", timeStyle:"short" }
							span=comment.username
							time=comment.last_changed_at ? "edited on " + comment.last_changed_at.toLocaleString("en-US", dateConfig) : "on " + comment.created_at.toLocaleString("en-US", dateConfig)
		+card(id="editPostForm" class="scroll-mt-8 hidden")
				form(
					action="" 
					method="post"
					class="flex flex-col space-y-2 mt-2 font-serif"
					name="editPostForm"
					)
					input(type="hidden" name="_csrf" value=csrfToken)
					div 
						label(for="editPostTitle") Edit Title:
						input(
							type="text" 
							id="editPostTitle"
							name="title" 
							value="" 
							required
							spellcheck="true"
							maxlength="150" 
							class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark"
							)
					div 
						label(for="editPostText") Edit Text:  
						textarea(
							id="editPostText" 
							name="text" 
							cols="30" 
							rows="10" 
							required
							spellcheck="true"
							maxlength="60000" 
							class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark"
							)=""
					div.flex.justify-end.space-x-2 
						+bigButton("submit", "Submit")
						+bigButton("button", "Cancel")(data-action-type="hideForm" data-form-type="editPost") 
		+card(id="editCommentForm" class="scroll-mt-8 hidden")
					form(
						action="" 
						method="post" 
						class="flex flex-col space-y-2 mt-2 font-serif"
						name="editCommentForm"
						)
						input(type="hidden" name="_csrf" value=csrfToken)
						div 
							label(for="editCommentText") Edit Comment:  
							textarea(
								id="editCommentText" 
								name="text" 
								cols="30" 
								rows="10"
								required
								spellcheck="true"
								maxlength="60000" 
								class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark"
							)
						div.flex.justify-end.space-x-2 
							+bigButton("submit", "Submit")
							+bigButton("button", "Cancel")(data-action-type="hideForm" data-form-type="editComment") 
		+card(id="commentForm" class="scroll-mt-8 hidden") 
					form(
						action=""
						method="post"
						class="flex flex-col space-y-2 mt-2 font-serif"
						name="commentForm"
						)
						input(type="hidden" name="_csrf" value=csrfToken)
						div 
							label(for="commentText") Comment:  
							textarea(
								id="commentText" 
								name="text" 
								cols="30" 
								rows="10" 
								required
								maxlength="60000" 
								class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark"
							)
						div.flex.justify-end.space-x-2 
							+bigButton("submit", "Submit")
							+bigButton("button", "Cancel")(data-action-type="hideForm" data-form-type="comment")  