extends layout 

block content 
	+formCard.font-alegsans.font-normal 
		header.text-xl.font-aleg.font-bold Register
		form(action="/user/register" method="POST").flex.flex-col.space-y-2.mt-2.w-full
			.pt-2
				label(for="email" class="font-aleg font-medium") Email
				input(
					type="email" 
					id="email" 
					name="email" 
					autocomplete="email"
					required 
					class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark")
				if validationErrors && validationErrors.email
					span(class="text-red-800 text-sm")=validationErrors.email.msg
			div 
				label(for="username" class="font-aleg font-medium") Username
				input(
					type="text" 
					id="username" 
					name="username"
					autocomplete="username"
					required
					pattern="[0-9a-zA-Z]{1,20}" 
					class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark")
				span.text-sm Max 20 characters
				if validationErrors && validationErrors.username
					span(class="text-red-800 text-sm")=validationErrors.username.msg
			div 
				label(for="password" class="font-aleg font-medium") Password
				input(
					type="password" 
					id="password" 
					name="password" 
					autocomplete="new-password" 
					required 
					class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark"
					pattern="[0-9a-zA-Z]{12,100}"
					)
				span.text-sm 12 characters minimum, 100 maximum. Password can contain both upper and lower case letters, and numbers.
				if validationErrors && validationErrors.password
					span(class="text-red-800 text-sm")=validationErrors.password.msg
			+bigButton("submit", "Submit")