extends layout 

block content 
	+formCard 
		header.text-xl.font-aleg.font-bold Reset your password
		form(action="" method="POST").flex.flex-col.space-y-2.mt-2.w-full
			.pt-2 
				label(for="newPassword" class="font-aleg font-medium") New Password
				input(
					type="password" 
					id="newPassword" 
					name="newPassword" 
					autocomplete="new-password" 
					required 
					class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark"
					pattern="[0-9a-zA-Z]{12,100}"
					)
				span.text-sm 12 characters minimum, 100 maximum. Password can contain both upper and lower case letters, and numbers.	
				if validationErrors && validationErrors.newPassword
					span(class="text-red-800 text-sm")=validationErrors.newPassword.msg
			div 
				label(for="confirmPassword" class="font-aleg font-medium") Confirm Password
				input(
					type="password" 
					id="confirmPassword" 
					name="confirmPassword" 
					autocomplete="new-password" 
					required 
					class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark"
					pattern="[0-9a-zA-Z]{12,100}"
					)
				if validationErrors && validationErrors.confirmPassword
					span(class="text-red-800 text-sm")=validationErrors.confirmPassword.msg
			+bigButton("submit", "Submit")