extends layout 

block content
	article(
		class="pt-4 divide-y divide-brown md:h-auto h-full text-light font-alegsans font-normal items-start bg-dark flex flex-col space-y-2  border-b border-brown"
		)
		header(
			class="text-light font-aleg font-bold text-xl self-center"
			) User Dashboard
		section#dashboardNavigation(
			class="self-center flex justify-between text-sm space-x-3 p-2"
			)
			span Navigation:
			a(
				href="#posts"
				class="hover:text-light text-brown"
				) Posts
			a(
				href="#comments" 
				class="hover:text-light text-brown"
			) Comments
		if passwordChange && passwordChange === "success" 
			section.p-2.self-center 
				span.text-light Your password has been changed successfully.
		if usernameChange && usernameChange === "success" 
			section.p-2.self-center 
				span.text-light Your username has been changed successfully.
		section.p-4.w-full
			header.font-aleg.font-bold.text-lg Change Password
			form(
				action="/user/password/change" 
				method="post"
				)
				input(type="hidden" name="_csrf" value=csrfToken)
				div(class="mt-2")
					label(for="oldPassword" class="font-aleg font-medium") Old Password
					input(
						type="password" 
						id="oldPassword" 
						name="oldPassword" 
						autocomplete="current-password" 
						required 
						class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark"
						)
					if passwordChange && passwordChange === "old"
						section(class="text-red-800 text-sm") Invalid old password.
				div(class="mt-2")
					label(
						for="newPassword"
						class="font-aleg font-medium"
						) New Password
					input(
						type="password" 
						id="newPassword" 
						name="newPassword" 
						autocomplete="new-password" 
						required 
						class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark"
						pattern="[0-9a-zA-Z]{12,100}"
						)
					span.text-sm 12 characters minimum, 100 maximum. A password can contain both upper and lower case letters, and numbers.
					if passwordChange && passwordChange === "failure"
						section(class="text-red-800 text-sm") Invalid password entry.
				div.flex.justify-end
					+bigButton("submit", "Submit")
		section.p-4.w-full 
			header.font-aleg.font-bold.text-lg Change Username
			form(
				action="/user/username/change" 
				method="post" 
				class="mt-2 w-full"
				)
				input(type="hidden" name="_csrf" value=csrfToken)
				label(
					for="changeUsername" 
					class="font-aleg font-medium"
					) New Username
				input(
					id="changeUsername"
					name="username" 
					autocomplete="username"					 
					required 
					pattern="[a-zA-Z0-9]{1,20}"
					class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark"
					)
				span.text-sm Max 20 characters
				if usernameChange && usernameChange === "failure"
						section(class="text-red-800 text-sm") Invalid username entry.
				div.flex.justify-end
					+bigButton("submit", "Submit")
				if message
					div=message
		section.p-4.w-full
			header#posts.font-aleg.font-bold.text-lg.mb-4 Your Post History
			for post in posts 
				article.flex.justify-between.font-alegsans.font-normal.text-sm.space-x-3.mb-2
						a(
							href="/board/post/" + post.id 
							class=""
							)= post.title 
						-let dateConfig = {dateStyle:"short", timeStyle:"short" }
						time(class="flex-none text-sm")= post.last_changed_at ? "Edited " + post.last_changed_at.toLocaleString("en-US", dateConfig) : "Created " + post.created_at.toLocaleString("en-US", dateConfig)
			a(href="#dashboardNavigation" class="hover:text-light text-brown text-sm") Back to the top
		section.p-4.w-full
			header#comments.font-aleg.font-bold.text-lg.mb-4 Your Comment History
			for comment in comments 
				article.flex.font-alegsans.font-normal.text-sm.space-x-3.mb-2
						a.mr-auto(href="/board/post/" + comment.post_id + "/#comment" + comment.id class="")= comment.text 
						-let dateConfig = {dateStyle:"short", timeStyle:"short" }
						time(class="flex-none text-sm")= comment.last_changed_at ? "Edited " + comment.last_changed_at.toLocaleString("en-US", dateConfig) : "Created " + comment.created_at.toLocaleString("en-US", dateConfig)
			a(href="#dashboardNavigation" class="hover:text-light text-brown text-sm") Back to the top