extends layout 

block content
	
	article(
		class="divide-y divide-brown md:h-auto h-full text-light font-sans items-start bg-dark flex flex-col space-y-2  border-b border-brown"
		)
		header(
			class="text-light font-fraktur text-xl self-center"
			) User Dashboard
		section#dashboardNavigation(
			class="self-center flex justify-between text-xs space-x-3 p-2"
			)
			span Navigation:
			a(
				href="#posts"
				class="hover:text-light text-brown"
				) Posts
			a(
				href="#comments" 
				class="hover:text-light text-brown"
			) Comments
		section.p-4.w-full
			header.font-fraktur Change Password
			form(
				action="changePassword" 
				method="post"
				)
				div(class="mt-2")
					label(for="oldPassword" class="font-serif text-sm") Old Password
					input(
						type="password" 
						id="oldPassword" 
						name="oldPassword" 
						autocomplete="current-password" 
						required 
						class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark"
						pattern="[0-9a-zA-Z]{12,100}"
						)
				div(class="mt-2")
					label(
						for="newPassword"
						class="font-serif text-sm"
						) New Password
					input(
						type="password" 
						id="newPassword" 
						name="newPassword" 
						autocomplete="new-password" 
						required 
						class="focus:outline-none focus:ring focus:ring-brown w-full bg-light text-dark"
						pattern="[0-9a-zA-Z]{12,100}"
						)
					span.text-xs 12 characters minimum, 100 maximum. A password can contain both upper and lower case letters, and numbers.
				div.flex.justify-end
					input(
						type="submit" 
						value="Submit" 
						class="hover:bg-gray border-2 border-main border-opacity-70 font-fraktur bg-light text-dark"
						)
		section.p-4.w-full 
			header.font-fraktur Change Username
			form(
				action="changeUsername" 
				method="post" 
				class="mt-2 w-full"
				)
				label(
					for="changeUsername" 
					class="font-serif text-sm"
					) New Username
				input(
					id="changeUsername"
					name="username" 
					autocomplete="username"					 
					required 
					pattern="[a-zA-Z0-9]{1,20}"
					class="focus:outline-none focus:ring focus:ring-brown w-full font-serif bg-light text-dark"
					)
				span.text-xs Max 20 characters
				div.flex.justify-end
					input(
							type="submit" 
							value="Submit" 
							class="justify-end mt-3 hover:bg-gray border-2 border-main border-opacity-70 font-fraktur bg-light text-dark"
							)
				if message
					div=message
		section.p-4.w-full
			header#posts.font-fraktur.mb-4 Your Post History
			for post in posts 
				article.flex.justify-between.font-sans.text-sm.space-x-3.mb-2
						a(
							href="/board/post/" + post.id 
							class=""
							)= post.title 
						-let dateConfig = {dateStyle:"short", timeStyle:"short" }
						time(class="flex-none text-xs")= post.last_changed_at ? "Edited " + post.last_changed_at.toLocaleString("en-US", dateConfig) : "Created " + post.created_at.toLocaleString("en-US", dateConfig)
			a(href="#dashboardNavigation" class="hover:text-light text-brown text-xs") Back to the top
		section.p-4.w-full
			header#comments.font-fraktur.mb-4 Your Comment History
			for comment in comments 
				article.flex.font-sans.text-sm.space-x-3.mb-2
						a.mr-auto(href="/board/post/" + comment.post_id + "/#comment" + comment.id class="")= comment.text 
						-let dateConfig = {dateStyle:"short", timeStyle:"short" }
						time(class="flex-none text-xs")= comment.last_changed_at ? "Edited " + comment.last_changed_at.toLocaleString("en-US", dateConfig) : "Created " + comment.created_at.toLocaleString("en-US", dateConfig)
			a(href="#dashboardNavigation" class="hover:text-light text-brown text-xs") Back to the top

		